extends /database/layout

block content 
    h1 #{dbname} Homepage
    p Logged in as #{username} | Hosted on #{hostname}
    div(class='logout')
        form(action="/db_logout", method="post") 
            button(type='submit') Logout
    hr

    p 🔍 
        input(type='text', placeholder='Search by Scheduler Type')
    form(action="insert/digitaldisplay", method="post") 
        button(type="submit") ➕ Create new Digital Display

    div(class='actions')
        ul 
            each d in digitalDisplays 
                li(class='info')
                    div
                        h4 Serial No. #{d.serialNo}
                        hr
                        p Model Number: 
                            a(class='info', href=`view/model/${d.modelNo}`) #{d.modelNo}
                        p Scheduler System: "#{d.schedulerSystem}"
                        div(class='actions')
                            form(action=`update/digitaldisplay/${d.serialNo}`, method="post") 
                                button(type='submit') ✏️ Update
                            form(action=`delete/digitaldisplay/${d.serialNo}`, method="post") 
                                button(class='delete', type='submit') 🗑️ Delete
                            br
            else 
                p No Digital Displays on record.
        p 
        ul 
            if models.length 
                h1 Model Numbers on File
            each m in models 
                li(class='info')
                    div 
                        p #{m.modelNo}
            else 
                p No Models on record.