extends layout 

block content

    h1 Welcome to DB Management!
    p Please login to continue.
    
    //- login
    form(action="db_login", method="post") 
        #login-info
            label Host Name: 
            input(name='hostname', type='text', required=true, value=hostname)
        #login-info
            label Database Name: 
            input(name='dbname', type='text', required=true, value=dbname)
        #login-info
            label Username: 
            input(name='username', type='text', required=true, value=username)
        #login-info
            label Password: 
            input(name='password', type='password', required=true)

        <div class="container">
            <button type="submit">Login</button>
            <button type="reset">Reset</button>
        </div>
    
    #login-error
        if error
            p.login-error(style={color: 'red'}) #{error}